.login-container {
  width: 360px;
  margin: 100px auto;
  padding: 40px ;
  background-color: #1e1e2f;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: #fff;
}

.login-container h2 {
  color: #6c63ff;
  margin-bottom: 25px;
  font-size: 28px;
}

.login-container input {
  width: 100%;
  padding: 12px;
  
  border-radius: 6px;
  border: 1px solid #555;
  background-color: #2c2c3d;
  color: #fff;
  font-size: 16px;
}

.login-container input::placeholder {
  color: #aaa;
}

.login-container button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background-color: #6c63ff;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.login-container button:hover {
  background-color: #5751d6;
}

.login-container .switch-link {
  margin-top: 15px;
  color: #ccc;
  cursor: pointer;
}

.login-container .switch-link:hover {
  color: #fff;
  text-decoration: underline;
}
.captcha-container {
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

