.auth-container {
  width: 400px;
  margin: 80px auto;
  padding: 40px 30px;
  background-color: #1e1e2f;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: #fff;
}

.auth-container h2 {
  color: #6c63ff;
  margin-bottom: 25px;
  font-size: 28px;
}

.auth-container input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #555;
  background-color: #2c2c3d;
  color: #fff;
  font-size: 16px;
}

.auth-container input::placeholder {
  color: #aaa;
}

.auth-container button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background-color: #6c63ff;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.auth-container button:hover {
  background-color: #5751d6;
}

.switch-link {
  margin-top: 15px;
  color: #ccc;
  cursor: pointer;
}

.switch-link:hover {
  color: #fff;
  text-decoration: underline;
}
.auth-container select {
    padding: 12px;
}